@if (Request.IsAuthenticated)
{
    <text>
    Hello, @Html.RouteLink(User.Identity.Name, "Default", new { controller = "Account", action = "Manage" }, htmlAttributes: new { @class = "username", title = "Manage" })!
    
    @using (Html.BeginRouteForm("Default", new { controller = "Account", action = "LogOff" }, FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
    </text>
}