@model IEnumerable<CafeN.Models.Location>

@{
    ViewBag.Title = "Browse Locations";
}

<h2>Browse Locations</h2>

@foreach (var item in Model)
{
    <div style="border: 1px dashed black; width: 175px; float: left; margin: 5px; background: #ddd;">
        @Html.DisplayFor(modelItem => item.Name)<br />
        @Html.DisplayFor(modelItem => item.Address)<br />
        @if (User.IsInRole("Barista"))
        {
            @Html.RouteLink("Process Orders", "Location_default", new { controller = "Order", action = "Process", id = item.LocationID })
        }
        else
        {
            @Html.RouteLink("Place Order", "Location_default", new { controller = "Order", action = "Create", id = item.LocationID })
        }
    </div>
}



</table>
