@model IEnumerable<CafeN.Models.ViewModel.OrderViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@User.Identity.Name's Orders</h2>

@foreach (var item in Model)
{
    
    <div style="border: 1px dashed black; width: 175px; float: left; margin: 5px; background: #ddd;">
        @Html.DisplayFor(modelItem => item.LocationName)<br />

        Started: @Html.DisplayFor(modelItem => item.StartedAt)<br />
        Completed: @Html.DisplayFor(modelItem => item.CompletedAt)<br />
    </div>
}
