@model CafeN.Models.ViewModel.OrderViewModel

@{
    ViewBag.Title = ViewBag.UserName + "'s Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.UserName's Order.</h2>

<fieldset>
    <legend>Order</legend>

    <div class="display-label">
        1 cup of coffee.
    </div>

    <div class="display-label">
        @Html.ActionLink("Complete Order", "Complete", new { id = Model.OrderID })
    </div>


</fieldset>

